/*** PROJECTS ***/
.languages-links>li {
    font-family: "Roboto-Light", sans-serif;
    font-weight: 300;
    margin: 0.56em 0 1.7em 0;
    padding: 0.67em 1.95em;
    font-size: 1.125rem;
    border-radius: 5px;
}

.languages-links li a>i {
    font-size: 1.313rem;
}

.languages-links li:hover {
    box-shadow: var(--see-more-shadow);
}

/***LANGUAGES-LINKS***/
/* All */
.all-link {
    background-color: var(--button);
}

.all-link a>i {
    margin-right: 0.48em;
}

/* Figma */
.figma-link {
    background-color: #1ABCFE;
}

.figma-link a>i {
    margin-right: 0.48em;
    color: #F24E1E;
}

/* JavaScript */
.javascript-link {
    background-color: #F0DB4F;
    color: #323330;
}

.javascript-link a {
    color: #323330;
}

.javascript-link a>i {
    margin-right: 0.48em;
}

/* Vue.js */
.vuejs-link {
    background-color: #41B883;
}

.vuejs-link a>i {
    margin-right: 0.48em;
    color: #34495E;
}

/* Tailwind CSS */
.tailwind-link {
    border: 1px solid #AAAAAA;
}

.tailwind-link a>i {
    margin-right: 0.48em;
    color: #38BDF8;
}

/* WordPress */
.wordpress-link {
    background-color: #444140;
}

.wordpress-link a>i {
    margin-right: 0.48em;
    color: #00749C;
}

/* MySQL */
.mysql-link {
    background-color: #00758F;
}

.mysql-link a>i {
    margin-right: 0.48em;
    color: #F29111;
}

/* MongoDB */
.mongodb-link {
    background-color: #E8E7D5;
}

.mongodb-link a {
    color: #3FA037;
}

.mongodb-link a>i {
    margin-right: 0.48em;
    color: #3FA037;
}

/* PHP */
.php-link {
    background-color: #787CB5;
}

.php-link a>i {
    margin-right: 0.48em;
    color: #474A8A;
}

#php-fs {
    font-size: 1.688rem;
}

/* Symfony */
.symfony-link {
    background-color: #000;
    color: #fff;
}

.symfony-link a>i {
    margin-right: 0.48em;
}

#symfony-fs {
    font-size: 1.563rem;
}

/***** NO PROJECT *****/
.all-cards>#no-project {
    box-shadow: none;
    width: 100%;
}

.all-cards>#no-project:hover {
    transform: none;
}

.all-cards #no-project .image-infos>h2 {
    box-shadow: none;
    text-transform: none;
}

/***** PROJETS DETAILS *****/
.project-card>.accessibility {
    background-image: url("../../assets/imgs/projects/simple_accessibility.png");
}

.project-card>.translation {
    background-image: url("../../assets/imgs/projects/simple_translation.png");
    background-position: top;
}

.project-card>.todo_list {
    background-image: url("../../assets/imgs/projects/todo_list_php.png");
    background-position: -200px -180px;
}

.project-card>.blog_bootstrap {
    background-image: url("../../assets/imgs/projects/blog_bootstrap_symfony.png");
    background-position: -2.5px 5px;
}

.project-card>.tmt {
    background-image: url("../../assets/imgs/projects/tmt.png");
    background-position: -250px -165px;
}

.project-card>.portfolio {
    background-image: url("../../assets/imgs/projects/maquette_portfolio.png");
    background-position: -35px -170px;
}

.project-card>.joke-generator {
    background-image: url("../../assets/imgs/projects/joke_generator.png");
    background-position: -190px -2093px;
}