/***HEADER***/
header {
    min-height: 100vh;
    background: url("../imgs/form-bg-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 170em rgba(0, 0, 0, 0.6) inset;
}

#projects-header {
    min-height: 0;
    background: none;
}

/***NAV***/
nav {
    /*Pour que les éléments animés restent derrière la nav*/
    z-index: 10;
    background-color: var(--nav-bg-color);
}

nav ul {
    font-family: "Roboto-Light", sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    padding: 0 0.278em;
    transition: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/***ABOUT ME***/
.about-me>figure {
    width: 21.2%;
}

.about-me>figure:hover {
    transform: scale(1.1);
}

.about-me figure>img {
    border-radius: 15px;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.7);
}

.about-me>.searching-for {
    background-color: rgb(255, 255, 255, 0.2);
    padding: 2.5em 1.875em;
    border-radius: 10px;
    width: 55%;
}

.about-me>.searching-for h3 {
    text-transform: none;
    text-align: left;
    font-size: 2.125rem;
    margin-bottom: 1em;
    color: #fff;
}

.about-me>.searching-for p {
    font-family: "Roboto-Light", sans-serif;
    font-weight: 300;
    color: #fff;
    line-height: 1.5;
    font-size: 1.313rem;
}

.resume {
    font-family: "Roboto-Light", sans-serif;
    font-weight: 300;
    font-size: 1.094rem;
    background-color: var(--button);
    border: 3px solid var(--button);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 6px;
    margin-top: 2.5em;
    padding: 0.6em 1.72em;
}

.fa-cloud-arrow-down {
    margin-right: 0.7em;
    font-size: 1.313rem;
}

.resume:hover {
    background-color: var(--button-hover);
    border-color: var(--button-hover);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

@media (min-width: 0px) and (max-width: 575.9px) {
    .fa-cloud-arrow-down {
        display: none;
    }

    .about-me>figure {
        width: 40%;
    }
}